.image-detail {
  .img-list {
    .img {
      width 90%
      margin 0 auto
      height 30rem
      .el-image {
        width 100%
        height 100%
      }
    }
    .info {
      width 90%
      margin 0 auto
      .item {
        display flex
        margin 1rem 0
        justify-content space-between
        span {
          width 10rem
          line-height 3.2rem
        }
        .el-button {
          margin-left 0.5rem
        }
      }
      .operation {
        .input-error {
          --el-input-border-color red
        }
        .update-input {
          display flex
          box-sizing border-box
          width 100%
          margin-left 1.3rem
          .image-name {
            width 80%
          }
          .image-type {
            width 20%
            margin-left 0.5rem
          }
        }
        .update-edit {
          display flex
        }
      }
    }
  }
}